<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <timestamp key="bySecond" datePattern="yyyyMMdd_HHmmss"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
      </Pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./logs/tor_${bySecond}.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] [%-5level] [%logger{36}] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="LoggerRollingPolicyExampleLogName" level="info" >
    <appender-ref ref="FILE" />
  </logger>

  <root level="INFO">
<!--    <appender-ref ref="FILE"/>-->
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
