<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Пользователи</title>
        <script>
            function getUserById() {
                const userIdTextBox = document.getElementById('userIdTextBox');
                const userDataContainer = document.getElementById('userDataContainer');
                const id = userIdTextBox.value;
                fetch('api/user/' + id)
                    .then(response => response.json())
                    .then(user => userDataContainer.innerHTML = JSON.stringify(user));
            }
        </script>
        <script>
            function getAllUsers() {
                const userDataContainer = document.getElementById('userDataContainer');
                fetch('api/user/')
                    .then(response => response.json())
                    .then(user => userDataContainer.innerHTML = JSON.stringify(user));
            }
        </script>
        <script>
            function saveUser() {
                const userNameTextBox = document.getElementById('userNameTextBox');
                const userLoginTextBox = document.getElementById('userLoginTextBox');
                const userPasswordTextBox = document.getElementById('userPasswordTextBox');
                const isAdminCheckBox = document.getElementById('isAdminCheckBox');
                const userDataContainer = document.getElementById('userDataContainer');

				var data = {
							name: userNameTextBox.value,
							login: userLoginTextBox.value,
							password: userPasswordTextBox.value,
							isAdmin: isAdminCheckBox.checked
							};


                fetch('api/user', {
					method: 'POST',
					body: JSON.stringify(data),
					headers: {
							'Content-Type': 'application/json'
					}
				})
                    .then(response => response.json())
                    .then(user => userDataContainer.innerHTML = JSON.stringify(user));
            }
        </script>
    </head>

    <body>

        Id пользователя <input type="text" id = "userIdTextBox" placeholder="Id пользователя"><Br><Br>
        Имя пользователя <input type="text" id = "userNameTextBox" placeholder="Имя пользователя"><Br><Br>
        Логин пользователя <input type="text" id = "userLoginTextBox" placeholder="Логин пользователя"><Br><Br>
        Пароль пользователя <input type="text" id = "userPasswordTextBox" placeholder="Пароль пользователя"><Br><Br>
        <input type="checkbox" id="isAdminCheckBox"> Права администратора<Br><Br>
        <Br><Br>
        <button onclick="getUserById()">Получить пользователя по id</button><Br><Br>
        <button onclick="getAllUsers()">Получить список пользователей</button><Br><Br>
        <button onclick="saveUser()">Создать пользователя</button><Br><Br>

        <pre id = "userDataContainer"></pre>

    </body>
</html>
